.contentLogin {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.contentLogin form {
  padding: 5rem;
  background: rgba(255, 255, 255, 0.014);
  gap: 0.4rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.contentLogin form h2 {
  color: white;
  margin-bottom: 2rem;
}
.contentLogin form input {
  padding: 0.3rem;
  border: 0;
  border-radius: 14px;
  width: 20rem;
}

.contentLogin button {
  margin: auto;
  width: 7rem;
  border: 0;
  border-radius: 14px;
  margin-bottom: 3rem;
}
